# Jekyll build output & caches
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Bundler / Ruby
vendor/
.bundle/
_vendor/
coverage/
tmp/

# OS cruft
.DS_Store
Thumbs.db

# Node (if you ever add tooling)
node_modules/

