/***************
A MORE MODERN SCALE
http://typecast.com/blog/a-more-modern-scale-for-web-typography
***************/

body {
  font-size: 0.875em; // ~14px base (was 15px)
}

body .intro {
  font-size: 0.9375em; // slightly smaller intro
  line-height: 1.7;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: .5rem 0 1.5rem;
  font-family: $sans-serif;
}

// Headings
h1, .h1 {
  font-size: 1.75em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  h1, .h1 {
    font-size: 2.125em;
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1, .h1 {
    font-size: 2.5em;
    line-height: 1.05;
  }
}

h2, .h2 {
  font-size: 1.375em;
  line-height: 1.15384615;
}

@media (min-width: 43.75em) {
  h2, .h2 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2, .h2 {
    font-size: 1.875em;
    line-height: 1.25;
  }
}

h3, .h3 {
  font-size: 1.125em;
  line-height: 1.13636364;
}

@media (min-width: 43.75em) {
  h3, .h3 {
    font-size: 1.25em;
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3, .h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
}

h4, .h4 {
  font-size: 0.9375em;
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4, .h4 {
    line-height: 1.22222222;
  }
}

blockquote {
  font-size: 1em;
  line-height: 1.25;
  padding: 0;
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.25em;
    line-height: 1.45833333;
  }
}

.post-list h2 {
  font-size: 1.125em;
  line-height: 1.3;
  margin-bottom: 0.5em;
}