---
---

// Reset using Normalize
@import "normalize";

// Import fonts from Google
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,800);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);

// Site configuration
@import "config";

// Import Partials
@import "partials/typography";
@import "partials/mixins";

// Modules
@import "modules/buttons";
@import "modules/forms";
@import "modules/tables";
@import "modules/syntax";
@import "modules/books";

// Mobile up base styles
@import "breakpoints/mobileup";

// Import media queries add more as you desire
@media only screen and (min-width: 800px) {
	@import "breakpoints/800up";
}
@media only screen and (min-width: 1200px) {
	@import "breakpoints/1200up";
}

// For Lightbox and book pages
@import "custom";

// If IE support is needed you can add them here or create another stylesheet for specific IE fixes


/* Search results tidy-up */
#results-container {
  margin-top: 1rem;
}
#results-container a {
  text-decoration: none;
}
#results-container a:hover {
  text-decoration: underline;
}


/* --- mobile menu icon overrides (mobile only) --- */
@media (max-width: 799px) {
  .nav-toggle {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    float: right;
    line-height: 1;
    margin-top: 0.5em;

    background: transparent;
    border-radius: 0;
    padding: 0;

    color: inherit;
    text-decoration: none;
    position: relative;
    right: 2rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover { background: transparent; }

    svg { width: 28px; height: 28px; }
  }
}

/* --- hide mobile toggle on desktop --- */
@media (min-width: 800px) {
  .nav-toggle { display: none !important; }
}
